<a href="https://colab.research.google.com/github/ummeamunira/datacleaning/blob/master/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib notebook
import numpy as np
import pandas as pd

In [2]:
url1='https://www.eia.gov/outlooks/steo/xls/STEO_m.xlsx'
data=pd.read_excel(url1, sheet_name='2tab', header=[2,3], index_col=0).T.reset_index().drop(0)
m = {'Jan':'1', 'Feb':'2', 'Mar':'3', 'Apr':'4', 'May':'5', 'Jun':'6', 'Jul':'7', 'Aug':'8', 'Sep':'9', 'Oct':'10', 'Nov':'11', 'Dec':'12' }
data.level_1 = data.level_1.map(m)
data['yearmonth']=data['level_0'].map(str)+'m'+data['level_1'].map(str)
yearmonth=data['yearmonth']
WTIUS=data['WTIPUUS']
NGPUS=data['NGHHMCF']
op=pd.DataFrame({'yearmonth':yearmonth, 'WTIUS':WTIUS, 'NGPUS':NGPUS})
op

   yearmonth   WTIUS    NGPUS
1     2016m1  31.683  2.37204
2     2016m2  30.323  2.06657
3     2016m3  37.545  1.79643
4     2016m4  40.754  1.99176
5     2016m5  46.712  1.99696
..       ...     ...      ...
68    2021m8      46  3.22179
69    2021m9      47   3.2705
70   2021m10      48  3.29954
71   2021m11      49  3.31874
72   2021m12      50  3.36971

[72 rows x 3 columns]

In [3]:
data1=pd.read_excel(url1, sheet_name='3atab', header=[2,3], index_col=0).T.reset_index().drop(0)
data1.level_1 = data1.level_1.map(m)
data1['yearmonth']=data1['level_0'].map(str)+'m'+data1['level_1'].map(str)
ym=data1['yearmonth']
PSOECD=data1['papr_oecd']
PSUS=data1['papr_us']
PSCA=data1['papr_ca']
PSOPECCO=data1['copr_opec']
PSFSU=data1['papr_fsu']
PSCH=data1['papr_ch']
PSW=data1['papr_world']
PCOECD=data1['patc_oecd']
PCUS=data1['patc_us']
PCCA=data1['patc_ca']
PCOECDEU=data1['patc_oecd_europe']
PCFSU=data1['patc_fsu']
PCEU=data1['patc_nonoecd_europe']
PCCH=data1['patc_ch']
PCW=data1['patc_world']
IWUS=data1['t3_stchange_us']
IWOECD=data1['t3_stchange_ooecd']
IWW=data1['t3_stchange_world']
EPIUS=data1['pasc_us']
EPIOECD=data1['pasc_oecd_t3']

ippci=pd.DataFrame({'ym':ym, 'PSOECD':PSOECD, 'PSUS':PSUS, 'PSCA':PSCA, 'PSOPECCO':PSOPECCO, 'PSFSU':PSFSU, 'PSCH':PSCH, 'PSW':PSW,
                    'PCOECD': PCOECD,'PCUS':PCUS,'PCCA':PCCA, 'PCOECDEU':PCOECDEU,'PCFSU':PCFSU, 'PCEU':PCEU, 'PCCH':PCCH, 'PCW':PCW,
                    'IWUS':IWUS,'IWOECD':IWOECD,'IWW':IWW,'EPIUS':EPIUS,'EPIOECD':EPIOECD})
ippci

         ym   PSOECD     PSUS     PSCA  ...      IWOECD       IWW    EPIUS  EPIOECD
1    2016m1  27.5436  14.9975  4.81727  ...   -0.876677   -5.0228  1318.54  3033.68
2    2016m2  27.2129  14.8324  4.73727  ... -0.00144828  0.902073  1322.84  3038.02
3    2016m3  27.2859  15.0396  4.65727  ...    0.520871 -0.289135  1329.23  3028.27
4    2016m4   26.697  14.8607  4.31927  ...  0.00446667 -0.359392  1340.07  3038.97
5    2016m5  26.1313  15.0263  3.68127  ...   -0.330161 -0.510094  1355.43  3064.56
..      ...      ...      ...      ...  ...         ...       ...      ...      ...
68   2021m8  30.4057  18.1611  5.48749  ...    0.856881   2.72828  1413.44  2972.98
69   2021m9  30.3613  18.2668  5.52352  ...    0.870987   2.49786  1420.09  2953.49
70  2021m10   30.847   18.262   5.7196  ...    0.397003   1.41371  1415.12  2936.22
71  2021m11  31.1829  18.5683  5.73094  ...    0.629616    2.2006  1408.79     2911
72  2021m12  31.1363  18.5591  5.67778  ...    0.830195   3.42079  1383.61  2860.08

[72 rows x 21 columns]

In [4]:
data2=pd.read_excel(url1, sheet_name='3btab', header=[2,3], index_col=0).T.reset_index().drop(0)
data2.level_1 = data2.level_1.map(m)
data2['yearmonth']=data2['level_0'].map(str)+'m'+data2['level_1'].map(str)
ym=data2['yearmonth']
PSNA=data2['t3b_papr_r01']
PSRU=data2['papr_RS']
PSME=data2['t3b_papr_r05']
psnopec=pd.DataFrame({'ym':ym, 'PSNA':PSNA, 'PSRU':PSRU, 'PSME':PSME})
psnopec

         ym     PSNA     PSRU     PSME
1    2016m1   22.419  11.2777  3.10738
2    2016m2  22.1109  11.2777  3.13397
3    2016m3  22.2301  11.3147  3.11697
4    2016m4  21.6842  11.2177  3.13497
5    2016m5  21.2098  11.1827  3.14097
..      ...      ...      ...      ...
68   2021m8  25.4046  11.1329   3.1933
69   2021m9  25.5351  11.1665  3.19331
70  2021m10  25.7261  11.1998  3.19295
71  2021m11  26.0439  11.2337  3.19326
72  2021m12  25.9817  11.2695  3.19335

[72 rows x 4 columns]

In [5]:
data3=pd.read_excel(url1, sheet_name='3ctab', header=[2,3], index_col=0).T.reset_index().drop(0)
data3.level_1 = data3.level_1.map(m)
data3['yearmonth']=data3['level_0'].map(str)+'m'+data3['level_1'].map(str)
ym=data3['yearmonth']
PCOPEC=data3['copc_opec']
SPCOPEC=data3['cops_opec']

psopec=pd.DataFrame({'ym':ym, 'PCOPEC':PCOPEC, 'SPCOPEC':SPCOPEC})
psopec

         ym   PCOPEC  SPCOPEC
1    2016m1    32.84  1.35046
2    2016m2   32.516  1.45047
3    2016m3    32.61  1.45046
4    2016m4  32.6264  1.36034
5    2016m5  32.5414     1.25
..      ...      ...      ...
68   2021m8  32.1878     3.68
69   2021m9  32.1965     3.68
70  2021m10  32.2151     3.68
71  2021m11  32.2238     3.68
72  2021m12  32.2124     3.68

[72 rows x 3 columns]

In [6]:
data4=pd.read_excel(url1, sheet_name='3dtab', header=[2,3], index_col=0).T.reset_index().drop(0)
data4.level_1 = data4.level_1.map(m)
data4['yearmonth']=data4['level_0'].map(str)+'m'+data4['level_1'].map(str)
ym=data4['yearmonth']
PCNA=data4['patc_r01']
PCER=data4['patc_r03']
PCRU=data4['patc_rs']
PCME=data4['patc_r05']
WIPC=data4['rgdpq_world_pct']
OIPC=data4['rgdpq_oecd_pct']
NOIPC=data4['rgdpq_nonoecd_pct']
USDEPC=data4['forex_world_pct']

pcw=pd.DataFrame({'ym':ym, 'PCNA':PCNA, 'PCER':PCER,'PCRU':PCRU,'PCME':PCME, 'WIPC':WIPC,'OIPC':OIPC,'NOIPC':NOIPC,'USDEPC':USDEPC })
pcw

         ym     PCNA     PCER     PCRU  ...     WIPC     OIPC    NOIPC   USDEPC
1    2016m1  23.6012  13.6214  3.31448  ...  2.68658  1.82801  3.50157  5.93899
2    2016m2  24.3884  14.6075  3.52868  ...  2.72442    1.764  3.63694  5.24439
3    2016m3  24.2467  14.6595  3.39347  ...  2.74721  1.71649  3.72712  4.54135
4    2016m4   23.724   14.754   3.2253  ...  2.74019  1.69709  3.73213  3.90451
5    2016m5  23.7721   14.396  3.28322  ...  2.74434  1.67342  3.76294  3.10127
..      ...      ...      ...      ...  ...      ...      ...      ...      ...
68   2021m8  24.6464  14.5065  4.15982  ...  8.20346  10.2306  6.32892 -2.69577
69   2021m9  23.7552  14.9664  4.06259  ...  7.59828   9.4862  5.85038 -2.70015
70  2021m10  24.1813  14.7549  3.86693  ...  7.08069  8.60605   5.6646 -2.58589
71  2021m11  24.1721  14.4082  3.94156  ...   6.5451  7.78755   5.3885 -2.55075
72  2021m12   24.013  14.1897  3.99235  ...  6.03029  6.96173  5.16043 -2.52294

[72 rows x 9 columns]

In [19]:
url2='https://www.eia.gov/outlooks/steo/realprices/real_prices.xlsx'
date1=['Month']
data5=pd.read_excel(url2, sheet_name='Crude Oil-M', header=39, usecols=[0,1,2,3] , parse_dates=date1,infer_datetime_format=True)
monthyear='2014-01-01'
data5=data5.dropna()
data5['Month']=pd.to_datetime(data5['Month'])
data5=data5.loc[data5['Month']>=monthyear]
data5['year'] = data5['Month'].dt.year
data5['month'] = data5['Month'].dt.month
data5['yearmonth']=data5['year'].map(str)+'m'+data5['month'].map(str)
yearmonth=data5['yearmonth']
CPI=data5['Index (1982-84=1)']
NCOP=data5['Nominal']
COP=data5['Real']
op2=pd.DataFrame({'yearmonth':yearmonth, 'CPI':CPI, 'NCOP':NCOP, 'COP':COP})

op2

    yearmonth       CPI   NCOP         COP
480    2014m1  2.352880  89.71   97.945821
481    2014m2  2.355470  96.10  104.807085
482    2014m3  2.360280  97.13  105.714533
483    2014m4  2.364680  97.33  105.735099
484    2014m5  2.369180  98.46  106.759518
..        ...       ...    ...         ...
571    2021m8  2.630444  43.51   42.491773
572    2021m9  2.633025  44.51   43.425762
573   2021m10  2.634648  45.51   44.374050
574   2021m11  2.637009  46.51   45.308487
575   2021m12  2.639493  47.51   46.239097

[96 rows x 4 columns]

In [9]:
url2='https://www.eia.gov/outlooks/steo/realprices/real_prices.xlsx'
date1=['Month']
data5=pd.read_excel(url2, sheet_name='Crude Oil-M', header=39, usecols=[0,1,2,3] , parse_dates=date1,infer_datetime_format=True)
monthyear='2014-01-01'
data5=data5.dropna()
data5['Month']=pd.to_datetime(data5['Month'])
data5=data5.loc[data5['Month']>=monthyear]
data5['year'] = data5['Month'].dt.year
data5['month'] = data5['Month'].dt.month
data5['yearmonth']=data5['year'].map(str)+'m'+data5['month'].map(str)
yearmonth=data5['yearmonth']
CPI=data5['Index (1982-84=1)']
NCOP=data5['Nominal']
COP=data5['Real']
op2=pd.DataFrame({'yearmonth':yearmonth, 'CPI':CPI, 'NCOP':NCOP, 'COP':COP}).groupby('yearmonth').mean()

op2

                CPI   NCOP         COP
yearmonth
2014m1     2.352880  89.71   97.945821
2014m10    2.374300  82.75   89.531785
2014m11    2.369830  74.34   80.584255
2014m12    2.362520  57.36   62.370393
2014m2     2.355470  96.10  104.807085
...             ...    ...         ...
2021m5     2.620880  40.51   39.706347
2021m6     2.625171  41.51   40.620005
2021m7     2.627521  42.51   41.561359
2021m8     2.630444  43.51   42.491773
2021m9     2.633025  44.51   43.425762

[96 rows x 3 columns]

In [20]:
d1=pd.concat([op, ippci, psopec, psnopec, pcw], axis=1).drop(['ym'], axis=1)
d1

   yearmonth   WTIUS    NGPUS   PSOECD  ...     WIPC     OIPC    NOIPC   USDEPC
1     2016m1  31.683  2.37204  27.5436  ...  2.68658  1.82801  3.50157  5.93899
2     2016m2  30.323  2.06657  27.2129  ...  2.72442    1.764  3.63694  5.24439
3     2016m3  37.545  1.79643  27.2859  ...  2.74721  1.71649  3.72712  4.54135
4     2016m4  40.754  1.99176   26.697  ...  2.74019  1.69709  3.73213  3.90451
5     2016m5  46.712  1.99696  26.1313  ...  2.74434  1.67342  3.76294  3.10127
..       ...     ...      ...      ...  ...      ...      ...      ...      ...
68    2021m8      46  3.22179  30.4057  ...  8.20346  10.2306  6.32892 -2.69577
69    2021m9      47   3.2705  30.3613  ...  7.59828   9.4862  5.85038 -2.70015
70   2021m10      48  3.29954   30.847  ...  7.08069  8.60605   5.6646 -2.58589
71   2021m11      49  3.31874  31.1829  ...   6.5451  7.78755   5.3885 -2.55075
72   2021m12      50  3.36971  31.1363  ...  6.03029  6.96173  5.16043 -2.52294

[72 rows x 36 columns]